/* CSS */

header {
    background-image: url('image/background.png');
    background-size: cover;
    background-position: center;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
}