/* CSS */

header {
    background-image: url('image/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: fit-content;
    padding-bottom: 60px;
}

body {
    text-align: center;
}

.nav {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;

}

.nav1 {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    margin-left: 30px;
}

.nav2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav2 ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.nav2 ul li {
    width: 100%;
    text-align: center;
}

.banner .block1-text {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color:#ffffff;
    font-size: small;
    margin-top: -80px;
}

.banner .block-1 h1 {
    height: 151px;
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 2px;
    font-stretch: expanded;
}

.banner .block-1 p {
    display: flex;
    justify-content: space-around;
    margin-block-start: 1.5em;
    margin-block-end: 5em;
    margin-inline-start: 6px;
    margin-inline-end: 6px;
}

.block-1 {
    text-align: center;
    justify-content: space-evenly;
}

.block-2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.block-2 h2 {
    color: #ffffff;
}

.block-2 .purple-text {
    color:#C271FF;
}

.sub-blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sub-blocks > div {
    flex: 1;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-blocks > div img {
    border-radius: 50%;
    margin-bottom: 10px;
}

.sub-blocks .sub1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sub-blocks .sub2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sub-blocks .sub3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
} 

.sub-blocks .sub4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sub-blocks .sub-name {
    color:#ffffff;
    white-space: nowrap;
}

.sub-blocks .sub-p {
    color:#ffffff;
    margin-top: -10px;
    font-size: 12px;
    font-style: italic;
}

.button1 {
    width: 162px;
    height: 44px;
    top: 300px;
    left: 639px;
    border-radius:40rem;
    background-color: #C271ff;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
}

/* Quote Section */

.quote {
    display: flex;
    background-color: #C271ff;
    color: #ffffff;
    padding: 40px;
    align-items: center;
    font-family: source sans pro;
}

.quote > img {
    margin-right: 10px;
    transform: scale(1.0);
    border-radius: 50%;
    margin-left: 60px;
}

.quote > div {
    flex: 1;
    text-align: left;
}

.quote-name {
    display: flex;
    text-align: left;
    margin-left: 35px;
}

/* Video Section */

.videos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    gap: 40px;
    font-family: Source Sans Pro;
}

.video-h1 {
    margin: 75px;
}

.video-h1 span {
    color:#C271FF;
}

.vi {
    border-radius: 50%;
    margin-bottom: 10px;
}

.va {
    display: flex;
    align-items: center;
    color:#C271FF;
    font-size: 12px;
}

.va .vi {
    margin-right: 10px;
}

.stars {
    display: flex;
    align-items: center;
}

.stars > p {
    display: flex;
    justify-content: flex-end;
}

/* Membership Section */

.member {
    background-color: #071629;
    color: #ffffff;
    padding: 80px;
}

.member h1 {
    margin-bottom: 80px;
    font-weight:200;
}

.member h1 .free {
    color:#C271ff;
}

.membership {
    display: flex;
    justify-content: center;
    gap: 80px;
    font-size: 12px;
}

.member .button-2 {
    width: 162px;
    height: 44px;
    top: 300px;
    left: 639px;
    border-radius:40rem;
    background-color: #C271ff;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    margin-top: 60px;
}
/* FAQ */

.FAQ {
    margin: 50px;
    margin-left: 85px;
    margin-right: 85px;
    font-family: Source Sans Pro;
    color:#071629;
}

.FAQ .divs {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.FAQ .div1 {
    width: calc(50% - 60px); /* setting width to increase gap between */
    margin-bottom: 60px;
    text-align: left;
}

/* footer */

.footer {
    background-color: #071629;
    color: #ffffff;
    padding: 45px;
}

.footer1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-images {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.footer-caption {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 15px;
    font-size: 10px;
    color: rgba(248, 245, 245, 0.5);
}